button.accordion-button {
  @include button-spacing-reset;

  --l-btn-color: #{$magenta};
  --l-btn-bg-color: #{$magenta-dim};

  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  border: 1px solid var(--button-border-secondary);
  font-size: $size_5;
  padding: 1rem 1.2rem;
  color: $text_0;
  background-color: var(--l-btn-bg-color);
  transition: background-color 200ms linear;
  width: 100%;
  line-height: 1.1;

  &:focus,
  &:hover,
  &:active,
  &.is-open {
    color: $text_0;
    background-color: var(--l-btn-bg-color);
    border: 1px solid var(--button-border-secondary);
  }

  &:focus {
    box-shadow: 0 0 2px 0 currentColor;
  }

  &.is-type-validation {
    --l-btn-color: #{$validation};
    --l-btn-bg-color: #{$validation-bg};
  }

  &.is-type-success {
    --l-btn-color: #{$success};
    --l-btn-bg-color: #{$success-bg};
  }

  &.is-type-warning {
    --l-btn-color: #{$warning};
    --l-btn-bg-color: #{$warning-bg};
  }

  .accordion-button__pre-icon {
    display: inline-block;
    font-size: 1.15em;
    transform: translateY(1px);
    margin-right: 0.6rem;
    flex-shrink: 0;
    color: $text_dark_grey;
  }

  .accordion-button__text {
    flex-grow: 1;
    margin-right: 0.8rem;
    text-align: left;
  }

  .accordion-button__arrow {
    display: inline-block;
    font-size: 1.3em;
    transform: translateY(1px);
    transition: transform 250ms ease-out;
    flex-shrink: 0;
    color: $text_dark_grey;
  }

  &.is-open {
    .accordion-button__arrow {
      transform: translateY(1px) rotate(180deg);
    }
  }
}
