.page-inquiry {
  .inquiry-content-container {
    position: relative;
    margin-top: 6.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;

    h3 {
      line-height: 1.85;
    }

    .mobile-number-to-copy {
      display: inline-block;
      text-decoration: underline;
      font-size: $size_4;
      font-weight: bold;
      margin-right: 0.6rem;
    }

    .inquiry-info {
      margin-top: 1rem;
      margin-bottom: 3rem;
      text-align: center;
      font-size: $size_7;
      color: $text_dark_grey;
    }
  }
}