.page-inquiry {
  .page-title {
    i {
      font-size: 1.25em;
      margin-right: 0.8rem;
      transform: translateY(0.4rem);
    }
  }

  .name-and-email-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;

    @include from(500px) {
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;

      .name-field {
        width: 18rem;
      }

      .email-field {
        flex-grow: 1;
      }
    }
  }

  .msg-label {
    position: relative;
    width: 100%;

    .length-indicator {
      position: absolute;
      bottom: 0;
      right: 0.6rem;
      display: block;
      font-size: 0.85em;
      font-weight: normal;
    }
  }
}