.select-date-and-time {
  position: relative;

  .calendar-container {
    position: relative;
    width: 100%;
    margin: 4rem auto 0;
  }

  .time-selection-container {
    position: relative;
    margin-top: 2.6rem;
  }

  .feedback-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3.6rem;
  }
}
