.select-date-and-time {
  position: relative;

  .calendar-container {
    position: relative;
    width: 100%;
    margin: 4rem auto 0;

    button {
      min-height: unset;
      min-width: unset;
      width: max-content;
    }
  }
}
