@mixin width-limited {
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;

  @include from($small-phone) {
    max-width: 40rem;
  }
}

.select-date-and-time {
  position: relative;

  .calendar-container {
    position: relative;
    width: 100%;
    margin: 4rem auto 0;
  }

  .time-selection-container {
    position: relative;
    margin-top: 2.6rem;
    @include width-limited;
  }

  .buttons-container {
    @include width-limited;
  }
}
