.inline-svg-common {
  --svg-feature-color: #{$validation};

  position: relative;
  display: inline-block;
  height: auto;
  color: $primary-purple-dark;

  &.rocket-icon {
    svg {
      width: var(--svg-width);
      height: var(--svg-width);
    }
  }
}
