.inline-svg-common {
  --svg-feature-color: #F8C256;

  position: relative;
  display: inline-block;
  height: auto;
  color: $text_0;

  &.rocket-icon {
    svg {
      width: var(--svg-width);
      height: var(--svg-width);
    }
  }
}
