$text_0: #322940;
$text_1: #FFFFFF;
$text_grey: #D9DDEA;

$background_0: #ebe9ee;
$background_1: #F6F5FF;

$pink-light: #FFBAEF;
$pink: #FF00C4;
$magenta: #C4236B;
$magenta-dark: #800062;
$magenta-deep-dark: #450A37;

$divider-color: #BDBCDB;
$warning: #F93232;
$validation: #FFB82E;
$inactive-grey: #B0A5AE;