$text_0: #322940;
$text_1: #FFFFFF;
$text_grey: #988D99;
$text_dark_grey: #605C60;

$background_0: #EBE9EE;
$background_1: #F6F5FF;

$pink-light: #FFBAEF;
$pink: #FF00C4;
$magenta-bg: #fae5f2;
$magenta: #E3199C;
$magenta-dark: #800062;
$magenta-deep-dark: #450A37;

$divider-color: #BDBCDB;
$warning: #F93232;
$validation: #FFB82E;
$success: #2BC128;
$success-bg: #e4f7e4;
$inactive-grey: #B0A5AE;

$box-shadow_light: 0 2px 6px 0 rgba(5, 16, 55, 0.125);
$box-shadow_deep-light: 0 4px 10px 1px rgba(5, 16, 55, 0.085);
$box-shadow_medium: 0 10px 30px 3px rgba(5, 16, 55, 0.085);
$box-shadow_deep: 0 10px 30px 4px rgba(5, 16, 55, 0.215);
