$text_0: #424F65;
$text_1: #FFFFFF;

$background_0: #FFFFFF;
$background_1: #F6F5FF;

$pink-light: #FFBAEF;
$pink: #FF00C4;
$magenta: #CC009C;
$magenta-dark: #800062;
$magenta-deep-dark: #450A37;

$divider-color: #BDBCDB;
$warning: #F93232;
$validation: #FFB82E;
