:root {
  // buttons
  --button-bg-primary: #C4237C;
  --button-bg-on-hover-primary: #A81E6A;
  --button-bg-disabled-primary: #AAADB7;
  --button-text-primary: #FFFFFF;
  --button-text-on-hover-primary: #FFFFFF;
  --button-border-primary: #C4237C;
  --button-border-disabled-primary: #AAADB7;
  --button-border-on-hover-primary: #A81E6A;
  --button-shadow-on-active-primary: rgba(153, 37, 101, 0.275);
  --button-bg-secondary: rgba(0, 0, 0, 0);
  --button-bg-disabled-secondary: rgba(0, 0, 0, 0);
  --button-bg-on-hover-secondary: rgba(0, 0, 0, 0);
  --button-text-secondary: #450A37;
  --button-text-on-hover-secondary: #800062;
  --button-border-secondary: #94A3B8;
  --button-border-disabled-secondary: #AAADB7;
  --button-border-on-hover-secondary: #800062;
  --button-shadow-on-active-secondary: rgba(69, 10, 55, 0.2);
  --button-bg-warning: #FF4545;
  --button-bg-on-hover-warning: #e35757;
  --button-bg-disabled-warning: #AAADB7;
  --button-text-warning: #FFFFFF;
  --button-text-on-hover-warning: #FFFFFF;
  --button-border-warning: #FF4545;
  --button-border-disabled-warning: #AAADB7;
  --button-border-on-hover-warning: #e35757;
  --button-shadow-on-active-warning: rgba(255, 69, 69, 0.275);

  // calendar
  --calender-bg-color: #F6F5FF;
  --calendar-border-color: #F6F5FF;
  --calendar-btn-bg-color: #F6F5FF;
  --calendar-btn-text-color: #450A37;
  --calendar-btn-text-color_disabled: #988D99;
  --calendar-btn-text-color_fully-booked: #988D99;

  // time-slot
  --timeslot-bg-color: #F6F5FF;
  --timeslot-bg-color_active: #C4237C;
  --timeslot-bg-color_occupied: #AAADB7;
  --timeslot-text-color_active: #FFFFFF;
  --timeslot-text-color_occupied: #F6F5FF;
  --timeslot-border-color: #F6F5FF;
  --timeslot-border-color_active: #C4237C;

  // custom input
  --custom-input-bg-color: #F6F5FF;
  --custom-input-border-color: #CBD5E1;
  --custom-input-border-color_focus: #64748B;
  --custom-input-border-color_hover: #94A3B8;
  --custom-input-text-color: #322940;
  --custom-input-placeholder-color: #94A3B8; 

  // toast
  --toast-bg-color: #36082b;
  --toast-default-icon-color: #FF00C4;
  --toast-heading-text-color: #F6F5FF;
  --toast-content-text-color: #EBE9EE;

  // modal
  --modal-backdrop-bg-color: rgba(102, 45, 145, 0.425);
}
