.app-layout {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "l-toolbar"
    "l-page";
  overflow-x: hidden;
  overflow-y: auto;

  .toast-container {
    position: fixed;
    z-index: $zindex_toast;
    left: 50%;
    bottom: 1.6rem;
    transform: translateX(-50%);
    width: 100%;
    max-width: 42rem;
    height: max-content;
    max-height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1.2rem;

    &.is-empty {
      pointer-events: none;
    }
  }

  &.is-admin-page {
    @include from ($large-phone) {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "l-toolbar l-toolbar"
        "l-navigation l-page";
    }
  }
}

.l-navigation {
  position: fixed;
  top: 0;
  left: 0;
  grid-area: l-navigation;
  z-index: $zindex-navigation;
  height: 100%;
  width: 100vw;

  @include from ($large-phone) {
    position: relative;
    left: unset;
    top: unset;
    display: block;
    width: $navigation-width-desktop;
  }
}

// toolbar

.l-toolbar {
  grid-area: l-toolbar;
  position: sticky;
  top: 0;
  width: 100%;
  height: $toolbar-height;
  overflow: hidden;
  z-index: $zindex-toolbar;
}

// page area

.l-page {
  grid-area: l-page;
  position: relative;
  min-height: calc(100% - #{$toolbar-height});
  height: max-content;
  padding-bottom: 5.6rem;

  .toolbar-hidden & {
    min-height: 100%;
  }
}
