@mixin overflow-touch {
  -webkit-overflow-scrolling: touch;
  // Use 'momentum-based' scrolling behavior
}

@mixin placeholder {
  &::-webkit-input-placeholder { // Chrome/Opera/Safari
    @content;
  }

  &::-moz-placeholder { // Firefox 19+
    @content;
  }

  &:-ms-input-placeholder { // IE 10+ 
    @content;
  }

  &:-moz-placeholder { // Firefox 18-
    @content; 
  }
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin from ($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin from_v ($bp) {
  @media screen and (min-height: $bp) {
    @content;
  }
}

/*
$small-phone: 576px;
$large-phone: 768px;
$tablet: 992px;
$desktop: 1200px;
*/

@mixin smallphone {
  @media screen and (max-width: $small-phone - 1px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: $large-phone - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin width-constraint-center {
  // mixin for .app-inner global util class
  
  width: 100%;
  max-width: $page-max-content-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $page-common-side-padding;
  padding-right: $page-common-side-padding;

  @include smallphone {
    padding-left: $page-common-side-padding-mobile;
    padding-right: $page-common-side-padding-mobile;
  }
}

@mixin dashline ($color: #000) {
  border: 1px dashed $color;
}

@mixin has-icon {
  display: inline-block;
  line-height: 1;
  font-family: "Ilwol Icons";
  font-weight: 600;
  font-size: 1.1em;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  transform: translateY(0.2rem);
}

@mixin width-limited {
  width: 100%;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;

  @include from($small-phone) {
    max-width: 42rem;
  }
}