@use "global_scss_utils" as *;

table.ilwol-table {
  position: relative;
  width: max-content;

  thead {
    border-bottom: 1px solid $text_grey;
  }

  tr {
    height: 3.2rem;
    vertical-align: middle;
  }

  tbody > tr:not(:last-of-type) {
    border-bottom: 1px solid $neautral-bg;
  }

  th,
  td {
    padding: 0 0.4rem;
    background-color: $background_1;
    letter-spacing: 0.5px;
  }

  th {
    font-size: $size_7;
    font-weight: bold;
    color: $text_0;
  }

  td {
    line-height: 3.6rem; // same as the tr default height.
    font-size: 1.3rem;
    color: $text_dark_grey;

    &:not(:last-of-type) {
      padding-right: 1.2rem;
    }
  }
}

.ilwol-table-container {
  position: relative;
  padding: 0.4rem 1.2rem;
  border: 1px solid $text_grey;
  border-radius: 0.8rem;
  width: 100%;
  height: auto;
  background-color: $background_1;

  .ilwol-table-inner {
    position: relative;
    display: block;
    width: 100%;
    overflow-x: auto;
    height: max-content;
  }
}