// Noto Sans KR
@font-face {
  src: url(/fonts/NotoSansKR/NotoSansKR-Light.woff2) format('woff2');
  font-family: "Noto Sans KR";
  font-weight: 300;
}

@font-face {
  src: url(/fonts/NotoSansKR/NotoSansKR-Medium.woff2) format('woff2');
  font-family: "Noto Sans KR";
  font-weight: 500;
}

@font-face {
  src: url(/fonts/NotoSansKR/NotoSansKR-ExtraBold.woff2) format('woff2');
  font-family: "Noto Sans KR";
  font-weight: 800;
}

// Noto Serif KR
@font-face {
  src: url(/fonts/NotoSerifKR/NotoSerifKR-Medium.otf);
  font-family: "Noto Serif KR";
  font-weight: 500;
}

@font-face {
  src: url(/fonts/NotoSerifKR/NotoSerifKR-Bold.otf);
  font-family: "Noto Serif KR";
  font-weight: 900;
}

// Lato - fallback font for english text
@font-face {
  src: url(/fonts/Lato/Lato-Light.ttf);
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url(/fonts/Lato/Lato-Regular.ttf);
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url(/fonts/Lato/Lato-Bold.ttf);
  font-family: "Lato";
  font-weight: 700;
}

html {
  font-size: 10px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 19rem;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: "Noto Sans KR", "Lato", "Helvetica Neue", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: $size_4;
  color: $text_0;
  line-height: 1.3;
}

$titles: $size_1, $size_2, $size_3, $size_4, $size_5;
@each $size in $titles {
  $i: index($titles, $size);

  .is-title-#{$i} {
    font-weight: bold;
    font-size: $size;

    &.is-serif {
      font-family: "Noto Serif KR";
    }
  }
}

.has-text-bold {
  font-weight: bold !important;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-color-default {
  color: $text_0 !important;
}

.text-color-grey {
  color: $text_grey !important;
}

.text-color-dark-grey {
  color: $text_dark_grey !important;
}

$text-color-name-map: (
  'magenta': $magenta,
  'validation': $validation,
  'success': $success,
  'warning': $warning,
  'black': $text_0
);

$text-color-bg-map: (
  'magenta': $magenta-bg,
  'validation': $validation-bg,
  'success': $success-bg,
  'warning': $warning-bg
);

@each $name, $color_val in $text-color-name-map {
  .text-color-#{$name} {
    color: $color_val !important;

    &.with-bg {
      background-color: map-get($text-color-bg-map, $name);
    }
  }

  .text-bg-#{$name} {
    background-color: $color_val !important;
    color: $background_1 !important;
  }
}

.link {
  display: inline-block;
  cursor: pointer;
  color: $magenta-dark;
  height: auto;
  width: max-content;
  padding-bottom: 0.1rem;
  transition: color 150ms linear;
  border-bottom: 1px solid currentColor;
  font-size: $size_6;

  &:hover,
  &:focus {
    color: $text_0;
  }

  &:focus {
    border-radius: 0.4rem;
    border: 1px solid currentColor;
    padding: 0.1rem 0.2rem;
    outline: none;
  }
}