// z-index constraints
$zindex-toolbar: 10;
$zindex-tooltip: 20;
$zindex-modal: 30;

// breakpoints
$small-phone: 576px;
$large-phone: 768px;
$tablet: 992px;
$desktop: 1200px;

$breakpoint-map: (
  small-phone: $small-phone,
  large-phone: $large-phone,
  tablet: $tablet,
  desktop: $desktop
);

// miscellaneous
$toolbar-height: 80px;
$page-max-content-width: 1600px;
$page-common-side-padding: 2rem;
$page-common-side-padding-mobile: 1.5rem;

@import "mixins";