@use "sass:math";

// z-index constraints
$zindex-toolbar: 10;
$zindex-tooltip: 20;
$zindex-navigation: 30;
$zindex-toast: 40;
$zindex-modal: 50;

// breakpoints
$small-phone: 576px;
$large-phone: 768px;
$tablet: 992px;
$desktop: 1200px;
$desktop-large: 1600px;

$breakpoint-map: (
  small-phone: $small-phone,
  large-phone: $large-phone,
  tablet: $tablet,
  desktop: $desktop
);

// Used for typography
$size_1: 3.2rem;  // 32px
$size_2: 2.4rem;  // 24px
$size_3: 2rem;    // 20px
$size_4: 1.8rem;  // 18px
$size_5: 1.6rem;  // 16px - default font-size
$size_6: 1.4rem;  // 14px
$size_7: 1.2rem;  // 12px

// miscellaneous
$toolbar-height: 5.2rem;
$navigation-width-desktop: 21rem;
$navigation-max-width: 24rem;
$page-max-content-width: 1620px;
$page-common-side-padding: 2rem;
$admin-content-max-width: 58rem;
$page-common-side-padding-mobile: 1.5rem;
$calendar-max-width: 42rem;

@import "mixins";
@import "color_utils";