.reserve-step {
  position: relative;
  margin-top: -2rem;
  
  @include from ($small-phone) {
    max-width: 52rem !important;
    margin-top: 0rem;
  }

  .confirm-page__header {
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .step-title {
      margin-top: 0.8rem;
      padding-bottom: 0.4rem;
      border-bottom: 2px solid $text_0;
      user-select: none;
    }

    .confirm-page__confirm-icon {
      @include phone {
        transform: scale(0.825);
      }
    }
  }

  .confirm-page__details-table {
    position: relative;
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid $divider-color;

    @include phone {
      padding: 2rem 1.2rem;
    }
  }

  button.modify-btn {
    margin-left: 0.8rem;
    font-size: $size_7;
  }

  .unit-append {
    display: inline-block;
    margin-left: 0.4rem;
  }

  .confirm-page__details-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.2rem;
    font-size: $size_6;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    &:not(:last-of-type) {
      padding-bottom: 1rem;
      border-bottom: 1px solid $divider-color;
      margin-bottom: 1rem;
    }

    &.date-and-time {
      .date-value {
        display: inline-block;
        margin-right: 0.4rem;
      }
    }

    .label {
      min-width: 5.6rem;
      margin-bottom: 0;
      line-height: 2.8rem;
    }

    .details-value {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      row-gap: 0.6rem;
      font-size: 1.15em;
      color: $text_0;

      &.is-for-total-price {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        row-gap: 0;

        .total-price-value {
          font-size: 1.125em;
        }

        .family-counsel-price-info {
          display: block;
          font-size: 0.75em;
          color: $text_0;
        }
      }
    }
  }

  .confirm-page__personal-details {
    padding-top: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    .personal-details-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .personal-details-item {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 0.8rem;

      &:first-of-type {
        margin-top: 2rem;
      }

      .sub-label {
        display: inline-block;
        font-size: $size_6;
        font-weight: bold;
        color: $text_grey;
        margin-right: 1.2rem;
      }

      .sub-value {
        display: inline-flex;
        font-size: $size_6;
        font-weight: bold;
        color: $text_0;
      }
    }
  }

  .submit-cta-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
    @include from ($small-phone) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      margin-bottom: 1.6rem;
    }
  }

  .is-accurate-question {
    font-size: $size_6;
    font-weight: bold;

    i {
      font-size: 1.1em;
      transform: translateY(1px);
    }

    @include from ($small-phone) {
      margin-bottom: 0.4rem;
    }
  }
}
