.state-button {
  &.is-submitting {
    opacity: 0.775;
    pointer-events: none;
  }

  &__loader {
    position: relative;
    margin-right: 0.6rem;
    bottom: -2px;
  }

  &.is-small {
    .state-button__loader {
      bottom: -1px;
    }
  }
}
