.page-admin-customer-contact {
  position: relative;

  .search-bar-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1.2rem;
  }

  .contact-load-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;

    .selection-ctas {
      display: flex;
      column-gap: 0.8rem;
    }
  }

  .admin-contact-list {
    position: relative;
    width: 100%;
    padding: 0;
    border-radius: 0.8rem;
    border: 1px solid $inactive-grey;
    background-color: $background_1;
    overflow: hidden;
  }

  .search-input {
    @include smallphone {
      width: 40vw;
    }
  }

  .load-info-box {
    padding-left: 0.4rem;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
  }

  .sort-select-el {
    width: 11rem;
  }

  .no-result {
    padding: 1.2rem 1.5rem;
  }
}
