.page-admin-inquiry {
  position: relative;
  display: block;

  .page-admin-inquiry-content {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    @include from ($large-phone) {
      width: max-content;
    }
  }

  .inquiry-feeback {
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
    align-self: stretch;

    @include from ($large-phone) {
      align-self: unset;
      min-width: 46rem;
    }
  }

  .no-data-feedback {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    font-weight: bold;
    color: $text_grey;

    i {
      font-size: 2.6rem;
      line-height: 1;
    }

    span {
      font-size: $size_7;
    }
  }

  .search-input-container {
    position: relative;
    width: max-content;
    margin-bottom: 1.6rem;
  }

  .inquiry-search-input {
    height: 3.6rem;
    width: 16rem;
    font-size: $size_6;
  }

  .inquiry-list-table {
    td {
      max-width: 18rem;
      @include truncate-text-overflow;
    }

    .td-title {
      min-width: 8.6rem;
    }

    .th-title,
    .td-title {
      position: sticky;
      left: 0;
    }

    .td-title,
    .td-name {
      font-weight: bold;
      color: $text_0;
    }

    .td-name {
      max-width: 14rem;
    }

    .td-title {
      @include truncate-text-overflow;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .th-name {
      min-width: 7.2rem;
    }

    .th-replied,
    .td-replied {
      text-align: center;
      width: 7.8rem;
    }

    .td-replied {
      font-size: $size_5;
      font-weight: bold;
      line-height: 1;
      padding: 0 0.4rem;

      &.has-reply {
        color: $success;
      }

      &.no-reply {
        color: $warning;
      }
    }

    .th-action,
    .td-action {
      width: 4.8rem;
    }
  }
}
