@font-face {
  font-family: 'HeartlandApp_Font_V5';
  src:  url('fonts/HeartlandApp_Font_V5.eot?swwnlg');
  src:  url('fonts/HeartlandApp_Font_V5.eot?swwnlg#iefix') format('embedded-opentype'),
    url('fonts/HeartlandApp_Font_V5.ttf?swwnlg') format('truetype'),
    url('fonts/HeartlandApp_Font_V5.woff?swwnlg') format('woff'),
    url('fonts/HeartlandApp_Font_V5.svg?swwnlg#HeartlandApp_Font_V5') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'HeartlandApp_Font_V5' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Action:before {
  content: "\e900";
}
.icon-Adobe:before {
  content: "\e901";
}
.icon-Airplane:before {
  content: "\e902";
}
.icon-Align-Center:before {
  content: "\e903";
}
.icon-Align-Left:before {
  content: "\e904";
}
.icon-Align-Right:before {
  content: "\e905";
}
.icon-Angry-Face:before {
  content: "\e906";
}
.icon-Apple-Inc:before {
  content: "\e907";
}
.icon-Archive:before {
  content: "\e908";
}
.icon-Atlassian:before {
  content: "\e909";
}
.icon-Basket:before {
  content: "\e90a";
}
.icon-Behance:before {
  content: "\e90b";
}
.icon-Bell-Off:before {
  content: "\e90c";
}
.icon-Bell:before {
  content: "\e90d";
}
.icon-Bicycle:before {
  content: "\e90e";
}
.icon-Birthday-Cupcake:before {
  content: "\e90f";
}
.icon-BitBucket:before {
  content: "\e910";
}
.icon-Bitcoin:before {
  content: "\e911";
}
.icon-Bold:before {
  content: "\e912";
}
.icon-Bulleted-List:before {
  content: "\e913";
}
.icon-Bullhorn:before {
  content: "\e914";
}
.icon-Bus:before {
  content: "\e915";
}
.icon-Calculator:before {
  content: "\e916";
}
.icon-Calendar:before {
  content: "\e917";
}
.icon-Camera:before {
  content: "\e918";
}
.icon-Car:before {
  content: "\e919";
}
.icon-Cart:before {
  content: "\e91a";
}
.icon-Chat-Bubble:before {
  content: "\e91b";
}
.icon-Chat-Bubbles:before {
  content: "\e91c";
}
.icon-Check:before {
  content: "\e91d";
}
.icon-Chrome:before {
  content: "\e91e";
}
.icon-Circled-Check:before {
  content: "\e91f";
}
.icon-Circled-Down-Chevron:before {
  content: "\e920";
}
.icon-Circled-Filter:before {
  content: "\e921";
}
.icon-Circled-Info:before {
  content: "\e922";
}
.icon-Circled-Left-Chevron:before {
  content: "\e923";
}
.icon-Circled-Minus:before {
  content: "\e924";
}
.icon-Circled-Plus:before {
  content: "\e925";
}
.icon-Circled-Question:before {
  content: "\e926";
}
.icon-Circled-Right-Chevron:before {
  content: "\e927";
}
.icon-Circled-Up-Chevron:before {
  content: "\e928";
}
.icon-Circled-X:before {
  content: "\e929";
}
.icon-Clap:before {
  content: "\e92a";
}
.icon-Clock:before {
  content: "\e92b";
}
.icon-Cloud:before {
  content: "\e92c";
}
.icon-Code-File:before {
  content: "\e92d";
}
.icon-Code:before {
  content: "\e92e";
}
.icon-CodePen:before {
  content: "\e92f";
}
.icon-Compass:before {
  content: "\e930";
}
.icon-Confluence:before {
  content: "\e931";
}
.icon-Copy:before {
  content: "\e932";
}
.icon-Curly-Brackets-File:before {
  content: "\e933";
}
.icon-Cut:before {
  content: "\e934";
}
.icon-Document:before {
  content: "\e935";
}
.icon-Down-Arrow:before {
  content: "\e936";
}
.icon-Down-Chevron:before {
  content: "\e937";
}
.icon-Download:before {
  content: "\e938";
}
.icon-Dribbble:before {
  content: "\e939";
}
.icon-Edge:before {
  content: "\e93a";
}
.icon-Edit:before {
  content: "\e93b";
}
.icon-Ethereum:before {
  content: "\e93c";
}
.icon-Excel-File:before {
  content: "\e93d";
}
.icon-Eye-Off:before {
  content: "\e93e";
}
.icon-Eye:before {
  content: "\e93f";
}
.icon-Facebook:before {
  content: "\e940";
}
.icon-Figma:before {
  content: "\e941";
}
.icon-File:before {
  content: "\e942";
}
.icon-Filter:before {
  content: "\e943";
}
.icon-Firefox:before {
  content: "\e944";
}
.icon-Flag:before {
  content: "\e945";
}
.icon-Flickr:before {
  content: "\e946";
}
.icon-Folder:before {
  content: "\e947";
}
.icon-Forward:before {
  content: "\e948";
}
.icon-Frowning-Face:before {
  content: "\e949";
}
.icon-Gear:before {
  content: "\e94a";
}
.icon-Gift:before {
  content: "\e94b";
}
.icon-Git-Branch:before {
  content: "\e94c";
}
.icon-Git-Commit:before {
  content: "\e94d";
}
.icon-Git-Pull-Request:before {
  content: "\e94e";
}
.icon-Git:before {
  content: "\e94f";
}
.icon-GitHub:before {
  content: "\e950";
}
.icon-GitLab:before {
  content: "\e951";
}
.icon-Google:before {
  content: "\e952";
}
.icon-Grinning-Face:before {
  content: "\e953";
}
.icon-Group:before {
  content: "\e954";
}
.icon-Guage:before {
  content: "\e955";
}
.icon-Heading:before {
  content: "\e956";
}
.icon-Headphones:before {
  content: "\e957";
}
.icon-Heart:before {
  content: "\e958";
}
.icon-Home:before {
  content: "\e959";
}
.icon-Horizontal-More:before {
  content: "\e95a";
}
.icon-Ice-Cream-Cone:before {
  content: "\e95b";
}
.icon-ID-Card:before {
  content: "\e95c";
}
.icon-Image:before {
  content: "\e95d";
}
.icon-Inbox:before {
  content: "\e95e";
}
.icon-Inboxes:before {
  content: "\e95f";
}
.icon-Indent:before {
  content: "\e960";
}
.icon-Instagram:before {
  content: "\e961";
}
.icon-Institution:before {
  content: "\e962";
}
.icon-Italic:before {
  content: "\e963";
}
.icon-Java-File:before {
  content: "\e964";
}
.icon-Javascript-File:before {
  content: "\e965";
}
.icon-Jira:before {
  content: "\e966";
}
.icon-Left-Arrow:before {
  content: "\e967";
}
.icon-Left-Chevron:before {
  content: "\e968";
}
.icon-Lightbulb:before {
  content: "\e969";
}
.icon-Linkedin:before {
  content: "\e96a";
}
.icon-List:before {
  content: "\e96b";
}
.icon-Litecoin:before {
  content: "\e96c";
}
.icon-Mail:before {
  content: "\e96d";
}
.icon-Markdown:before {
  content: "\e96e";
}
.icon-Medium:before {
  content: "\e96f";
}
.icon-Menu:before {
  content: "\e970";
}
.icon-Microphone:before {
  content: "\e971";
}
.icon-Microsoft:before {
  content: "\e972";
}
.icon-Minus:before {
  content: "\e973";
}
.icon-More:before {
  content: "\e974";
}
.icon-Move-Mail:before {
  content: "\e975";
}
.icon-Note:before {
  content: "\e976";
}
.icon-Numbered-List:before {
  content: "\e977";
}
.icon-Octagon-X:before {
  content: "\e978";
}
.icon-One-Finger:before {
  content: "\e979";
}
.icon-Onenote-File:before {
  content: "\e97a";
}
.icon-Open-Book:before {
  content: "\e97b";
}
.icon-Open-Folder:before {
  content: "\e97c";
}
.icon-Opera:before {
  content: "\e97d";
}
.icon-Outdent:before {
  content: "\e97e";
}
.icon-Paperclip:before {
  content: "\e97f";
}
.icon-Paste:before {
  content: "\e980";
}
.icon-PDF-File:before {
  content: "\e981";
}
.icon-Pencil:before {
  content: "\e982";
}
.icon-Phone:before {
  content: "\e983";
}
.icon-Pie-Chart:before {
  content: "\e984";
}
.icon-Piggy-Bank:before {
  content: "\e985";
}
.icon-Pintrest:before {
  content: "\e986";
}
.icon-Pizza:before {
  content: "\e987";
}
.icon-Plus:before {
  content: "\e988";
}
.icon-Podcast:before {
  content: "\e989";
}
.icon-Post:before {
  content: "\e98a";
}
.icon-Powerpoint-File:before {
  content: "\e98b";
}
.icon-Print:before {
  content: "\e98c";
}
.icon-Python-File:before {
  content: "\e98d";
}
.icon-Reply-All:before {
  content: "\e98e";
}
.icon-Reply:before {
  content: "\e98f";
}
.icon-Right-Arrow:before {
  content: "\e990";
}
.icon-Right-Chevron:before {
  content: "\e991";
}
.icon-Rocket:before {
  content: "\e992";
}
.icon-RSS:before {
  content: "\e993";
}
.icon-Ruby-File:before {
  content: "\e994";
}
.icon-Sass-File:before {
  content: "\e995";
}
.icon-Sass:before {
  content: "\e996";
}
.icon-Search-Folder:before {
  content: "\e997";
}
.icon-Search:before {
  content: "\e998";
}
.icon-Send-Message:before {
  content: "\e999";
}
.icon-Shopping-Bag:before {
  content: "\e99a";
}
.icon-Sidebar-Left:before {
  content: "\e99b";
}
.icon-Sidebar-Right:before {
  content: "\e99c";
}
.icon-Sign-Out:before {
  content: "\e99d";
}
.icon-Skype:before {
  content: "\e99e";
}
.icon-Slack:before {
  content: "\e99f";
}
.icon-Smiling-Face:before {
  content: "\e9a0";
}
.icon-Snapchat:before {
  content: "\e9a1";
}
.icon-Social-Share:before {
  content: "\e9a2";
}
.icon-Sort-Asc:before {
  content: "\e9a3";
}
.icon-Sort-Desc:before {
  content: "\e9a4";
}
.icon-Spotify:before {
  content: "\e9a5";
}
.icon-Square-Bubble-Heart:before {
  content: "\e9a6";
}
.icon-Square-Chat-Bubble:before {
  content: "\e9a7";
}
.icon-Square-Chat-Bubbles:before {
  content: "\e9a8";
}
.icon-Square-Chat:before {
  content: "\e9a9";
}
.icon-Stack-Overflow:before {
  content: "\e9aa";
}
.icon-Star:before {
  content: "\e9ab";
}
.icon-Store:before {
  content: "\e9ac";
}
.icon-Taco:before {
  content: "\e9ad";
}
.icon-Tag:before {
  content: "\e9ae";
}
.icon-Thumbs-Down:before {
  content: "\e9af";
}
.icon-Thumbs-Up:before {
  content: "\e9b0";
}
.icon-Tile:before {
  content: "\e9b1";
}
.icon-Train:before {
  content: "\e9b2";
}
.icon-Trash:before {
  content: "\e9b3";
}
.icon-Triangle-Exclaimation:before {
  content: "\e9b4";
}
.icon-Truck:before {
  content: "\e9b5";
}
.icon-Tumblr:before {
  content: "\e9b6";
}
.icon-Twitter:before {
  content: "\e9b7";
}
.icon-Underline:before {
  content: "\e9b8";
}
.icon-Up-Arrow:before {
  content: "\e9b9";
}
.icon-Up-Chevron:before {
  content: "\e9ba";
}
.icon-Upload:before {
  content: "\e9bb";
}
.icon-User:before {
  content: "\e9bc";
}
.icon-Video:before {
  content: "\e9bd";
}
.icon-Vimeo:before {
  content: "\e9be";
}
.icon-Web-Link:before {
  content: "\e9bf";
}
.icon-WhatsApp:before {
  content: "\e9c0";
}
.icon-Window:before {
  content: "\e9c1";
}
.icon-Word-File:before {
  content: "\e9c2";
}
.icon-Wordpress:before {
  content: "\e9c3";
}
.icon-X:before {
  content: "\e9c4";
}
.icon-Y-Combinator:before {
  content: "\e9c5";
}
.icon-YouTube:before {
  content: "\e9c6";
}
.icon-Zest:before {
  content: "\e9c7";
}
