.password-input-master {
  position: relative;

  button.password-input__toggle-btn {
    background-color: var(--custom-input-bg-color);
    border-radius: 1rem 0 0 1rem;
    border-color: var(--custom-input-border-color);
    color: $primary-purple;
    transition:
      color 200ms linear,
      border-color 200ms linear;
    min-height: 4.8rem;

    &:hover,
    &:focus {
      border-color: var(--custom-input-border-color_hover);
      background-color: var(--custom-input-bg-color);
      color: $primary-purple;
    }

    &:focus {
      border-color: var(--custom-input-border-color_focus);
      box-shadow: none;
    }

    &:active {
      color: $text_0;
      box-shadow: none;
    }
  }

  &.is-error {
    button.password-input__toggle-btn,
    button.password-input__toggle-btn:hover,
    button.password-input__toggle-btn:focus,
    button.password-input__toggle-btn:active {
      border-color: $warning;
    }
  }
}