$box1_color: #44D2F2;
$box2_color: #C4237C;

.page-home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.showing-introduction {
    padding-top: 6rem;
    overflow-x: hidden;

    @include smallphone {
      padding-top: 3.6rem;
    }
  }

  .content-main,
  .content-introduction {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .content-main {
    width: max-content;
    height: auto;
    opacity: 0;
    animation: slide-in-from-bottom 450ms ease-out forwards;
  }

  .content-introduction {
    width: 100%;
    height: auto;

    .intro-img-container {
      position: relative;
      width: max-content;
      height: max-content;
      margin-left: auto;
      margin-right: auto;

      --l-img-side: 28rem;

      @include smallphone {
        --l-img-side: 24rem;
      }

      @include phone {
        margin-bottom: 4rem;
      }

      .img-wrapper {
        position: relative;
        width: var(--l-img-side);
        height: var(--l-img-side);
        border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
        border: 1px solid rgba(0, 0, 0, 0.025);
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.05);
        filter: sepia(10%);
        overflow: hidden;
        z-index: 1;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .img-bg-effect {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46rem;
        height: 46rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;

        .box {
          position: relative;
          width: 1px;
          height: 1px;

          &.is-1 {
            left: -20px;
            top: -40px;
            background-color: $box1_color;
            box-shadow:
              0 0 120px 55px $box1_color;
          }

          &.is-2 {
            top: 40px;
            left: 20px;
            background-color: $box2_color;
            box-shadow:
              0 0 120px 55px $box2_color;
          }
        }
      }
    }
  }

  .page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.6rem;
    letter-spacing: 1.5px;
    color: $magenta-deep-dark;
    text-align: center;
    margin-bottom: 0.2rem;
  }

  .project-logo {
    color: $magenta-deep-dark;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    .youtube-btn,
    .introduction-btn {
      min-width: 20rem;
    }

    .introduction-btn {
      padding-left: 1.6rem;
      padding-right: 1.8rem;
      margin-bottom: 3rem;
    }

    .youtube-btn {
      padding-left: 1.6rem;
      padding-right: 1.8rem;

      .icon-youtube {
        font-size: 1.385em;
      }
    }
  }

  .admin-login-cta {
    position: absolute;
    bottom: 2.4rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.675em;
    opacity: 0.725;

    &:hover,
    &:focus {
      opacity: 1;
    }

    i {
      transform: scale(1.015) translateY(1px);
      margin-right: 0.2rem;
    }

    @include smallphone {
      left: 1.6rem;
      bottom: 2rem;
      transform: translateX(0);
    }
  }

  .home-flex-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;

    @include from ($large-phone) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      gap: 8rem;
    }
  }

  .home-section-title {
    display: inline-block;
    width: max-content;
    font-family: "Noto Serif KR";
    font-weight: bold;
    font-size: $size_3;
    color: $magenta;

    .icon-info-circle {
      transform: translateY(2px);
    }

    .text {
      display: inline-block;
      padding-bottom: 0.2rem;
      border-bottom: 1px solid currentColor;
    }

    &.intro-title {
      font-size: $size_4;
      color: $ilwol-purple;
    }
  }

  .home-intro-title {
    display: block;
    width: 100%;
    font-size: $size_4;
    font-weight: bold;
    color: $ilwol-purple;
    font-family: "Lato";

    i {
      transform: translateY(1px);
    }
  }

  .intro-details {
    width: 100%;
    font-family: "Noto Serif KR";
    font-size: $size_6;
    font-weight: 500;
    max-width: 56rem;

    opacity: 0;
    animation: slide-in-from-bottom 450ms ease-out forwards;
  }

  .intro-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    button {
      flex-shrink: 0;
    }
  }

  .intro-list {
    position: relative;
    display: block;
    width: 100%;
    list-style-type: none;
  }

  .intro-list-item,
  .intro-paragraph {
    position: relative;
    padding-left: 2.4rem;
    line-height: 1.5;
    color: $text_dark_grey;

    .has-text-bold {
      color: $text_0;
    }

    &:not(:last-of-type) {
      margin-bottom: 0.4rem;
    }

    &::before {
      position: absolute;
      left: 0;
      top: 0.2rem;
      font-weight: bold;
      @include has-icon;
      content: "\e9ae";
    }
  }

  #ghost-iframe {
    position: fixed;
    opacity: 0;
    width: 1px;
    height: 1px;
    pointer-events: none;
  }

  .youtube-player-container {
    position: relative;
    width: 100%;

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  .address {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    line-height: 1.8;
  }

  .address-label {
    font-weight: bold;
    flex-shrink: 0;
  }

  .address-str {
    text-decoration: underline;
  }

  .address-copy-btn {
    height: 2.2rem;
    width: 2.2rem;
    min-height: unset;
    min-width: unset;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 0.8rem;
    margin-left: 0.4rem;
  }

  .naver-map-container {
    position: relative;
    width: 100%;
    height: 28rem;
    margin-bottom: 3rem;
  }

  .reserve-btn-fixed {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 8px 28px 3px !important;
    opacity: 0;
    animation: slide-in-from-bottom 350ms ease-out forwards;

    @include smallphone {
      bottom: 1.5rem;
      right: 1.5rem;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      min-height: 3.6rem;
    }
  }

  .y-link {
    display: inline-flex;
    align-items: center;
    padding: 0 0.2rem;

    i {
      display: inline-block;
      font-size: 1.2em;
      transform: translateY(1px);
    }
  }

  .kakao-channel-logo {
    position: absolute;
    right: 1.6rem;
    bottom: 1.6rem;
    box-shadow: 0 0px 6px 1px rgba(5, 16, 55, 0.075);
    line-height: 1;
    border-radius: 0.8rem;
    cursor: pointer;
    opacity: 0.75;

    &:focus,
    &:hover {
      opacity: 1;
      transition: opacity 300ms, box-shadow 300ms;
      box-shadow: 0 0px 12px 1px rgba(5, 16, 55, 0.115);
    }

    &:active {
      bottom: 1.5rem;
    }
  }
}