.page-admin-manage-reservation {
  position: relative;

  .admin-manage-reservation-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;

    @include from ($small-phone) {
      width: max-content;
    }

    @include from ($large-phone) {
      min-width: 50rem;
    }
  }

  .carousel-slider-example {
    max-width: 52rem;
  }
}
