.page-admin-manage-reservation {
  position: relative;

  .admin-manage-reservation-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;

    @include from ($small-phone) {
      width: max-content;
    }
  }
}
