.page-admin-dashboard {
  position: relative;
  display: block;

  .day-off-set-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 3.2rem;
    column-gap: 5.6rem;

    @include from ($large-phone) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  .booking-preview-table {
    position: relative;
    width: 100%;
    max-width: $calendar-max-width;  

    @include from ($large-phone) {
      width: max-content;
      min-width: 28rem;
    }
  
    h3 {
      display: flex;
      align-items: center;
      font-size: $size_6;
      font-weight: bold;

      i {
        margin-right: 0.4rem;
        font-size: 1.2em;
        transform: translateY(1px);
      }
    }

    .ilwol-table-container {
      box-shadow: $box-shadow_medium;

      table.ilwol-table {
        @include until ($large-phone) {
          width: 100%;
        }
      }

      .td-time {
        width: 6.4rem;
        font-weight: bold;
      }
  
      .td-name {
        min-width: 14rem;
        padding-right: 1.2rem;
        max-width: 22rem;
        cursor: pointer;
        font-weight: bold;
        @include truncate-text-overflow;

        &:hover {
          text-decoration: underline;
        }
      }

      .th-status,
      .td-status {
        width: 5.6rem;
        text-align: center;
      }

      .td-status {
        padding-right: 0.4rem;
      }

      .td-action {
        text-align: right;
      }
    }
  }

  .status-pill {
    display: inline-block;
    margin-left: 0.4rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    line-height: 1.2;
    font-weight: bold;
  }
}
