.page-admin-add-reservation-item {

  .admin-add-reservation-item-content {
    .form-container {
      position: relative;
      width: 100%;
      max-width: 42rem;

      .summary-list {
        padding: 2rem;
      }
    }

    .form-field {
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid $text_0;

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }

      label {
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
        gap: 1.2rem;
  
        .label {
          flex-shrink: 0;
        }
      }
  
      .common-input-width {
        width: 17rem;
      }
    }

    .select-date-time-container {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 5rem;
    }
  }
}
