.page-template {
  position: relative;
  display: block;
  padding-top: 3.6rem;

  .page-width-constraints {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 58rem;

    @include tablet {
      padding: 0 1.5rem;
    }
  }

  .page-form-constraints {
    @include width-limited;
  }
}
