.page-booking .counsel-option-container {
  .section-title-helper {
    margin-bottom: 4rem;
  }
  .counsel-option-card:not(:last-child) {
    margin-bottom: 2rem;
  }

  .buttons-container {
    margin-top: 4rem;
  }
}
