.carousel-slider {
  position: relative;
  display: block;
  width: 100%;
}

// carousel-slider content-area
.carousel-slider-content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 2.4rem;
  overflow-x: auto;
  padding: 2rem;
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: 0.8rem;
  border: 1px solid $primary-purple-bg-1;
  // scroll related properties
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -webkit-overflow-scrolling: initial;

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  .is-type-youtube & {
    padding: 1.2rem;

    @include from ($large-phone) {
      padding: 2rem;
    }
  }
}

// carousel-slider navigation
.carousel-slider__nav {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1.4rem;
  margin-top: 1.2rem;

  .carousel-slider__nav-dots {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    pointer-events: none;
  }

  .carousel-slider__index-dot {
    --dot-side: 0.8rem;

    display: inline-block;
    width: var(--dot-side);
    height: var(--dot-side);
    border-radius: var(--dot-side);
    color: $primary-purple;
    background-color: $primary-purple-bg-1;
    border: 1px solid $primary-purple-bg-1;
    transition:
      background-color 120ms ease-in,
      border-color 120ms ease-in;

    &.is-active {
      background-color: currentColor;
      border-color: currentColor;
    }
  }

  button.carousel-slider__nav-btn {
    --carousel-nav-side: 2.6rem;

    border-radius: 50%;
    min-height: var(--carousel-nav-side);
    min-width: var(--carousel-nav-side);
    height: var(--carousel-nav-side);
    width: var(--carousel-nav-side);
    padding: 0;

    i {
      font-size: 1.6rem;
    }
  }

  .is-type-youtube & {
    column-gap: 0.8rem;

    button.carousel-slider__nav-btn {
      --carousel-nav-side: 2.2rem;

      i {
        font-size: 1.4rem;
      }
    }
  }
}

// carousel review card
.carousel-review-card {
  position: relative;
  border-radius: 1.2rem;
  border: 1px solid $inactive-grey;
  width: 32rem;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: $box-shadow_deep-light;
  scroll-snap-align: center;

  @include smallphone {
    width: 28rem;
  }

  &__review-content {
    position: relative;
    padding: 6.8rem 1.6rem 2.4rem;
    background-color: $background_1;
    font-size: $size_6;

    .review-content-wrapper {
      position: relative;
      width: 100%;
      height: 14rem;
      padding-right: 0.4rem;
      padding-bottom: 1.2rem;
      overflow-y: auto;
      z-index: 2;
      line-height: 1.5;
    }

    .deco-icon {
      position: absolute;
      left: 1.8rem;
      top: 2.4rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 3.6rem;
      color: #b684dc;
      opacity: 0.45;
    }
  }

  &__review-metadata {
    font-size: $size_6;
    padding: 2rem 1.6rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    background-color: #f7f1fc;
    border-top: 1px solid $neautral-bg;

    .user-icon-container {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      border-radius: 4rem;
      font-size: 2.4rem;
      flex-shrink: 0;
      background-color: $primary-purple-bg;
      color: $primary-purple;
    }

    .reviewer-details {
      flex-grow: 1;

      .reviewer-name {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
      }

      .review-date-and-tag {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        line-height: 1.4;

        .date {
          color: $text_dark_grey;
          font-size: 0.75em;
          margin-right: 0.4rem;
        }

        .review-tag {
          display: inline-block;
          padding: 0.2rem 0.8rem;
          border-radius: 0.8rem;
          font-size: 0.75em;
          font-weight: bold;

          &.is-visit-review {
            background-color: $primary-purple-bg;
            color: $primary-purple;
          }

          &.is-youtube-feedback {
            background-color: $magenta-dim;
            color: $magenta-light;
          }
        }
      }
    }
  }
}

// carousel-youtube-card
.carousel-youtube-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 1.2rem;
  border: 1px solid $inactive-grey;
  width: calc(100vw - 2.4rem);
  max-width: 43rem;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: $box-shadow_deep-light;
  scroll-snap-align: center;
  padding: 1.2rem;

  .video-container {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ccccd0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #ccccd0;
      animation: video-loading-ani 900ms linear infinite alternate;
      z-index: 0;
    }

    iframe {
      position: relative;
      display: block;
      width: 100%;
      aspect-ratio: 2/1;
      z-index: 1;
    }
  }

  &.is-loaded {
    .video-container::after {
      animation: none;
    }
  }

  .video-title {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .title-block {
      display: flex;
      align-items: flex-start;
      column-gap: 0.4rem;
      margin-right: 1rem;
      color: $text_0;
      font-size: $size_6;
      font-weight: bold;
      padding-left: 0.4rem;

      i {
        font-size: 1.15em;
      }
    }

    .video-date {
      display: inline-block;
      font-size: $size_7;
      font-weight: 700;
      margin-left: 0.8rem;
      color: $text_dark_grey;
      padding-right: 0.4rem;
    }
  }

  @include from ($small-phone) {
    width: 34rem;
    max-width: unset;
    padding: 1.6rem;
  }

  @include from ($large-phone) {
    width: 38rem;
    padding: 2rem;
  }

  @include from ($tablet) {
    @include from_v (850px) {
      width: 52rem;
    }

    @include from_v (1020px) {
      width: 63rem;
    }
  }

  &:hover,
  &:focus {
    .youtube-details .details-title {
      text-decoration: underline;
    }
  }

  &:active {
    border-color: $text_dark_grey;
  }

  @keyframes video-loading-ani {
    0% { opacity: 0.875; }
    100% { opacity: 0.425; }
  }
}