.page-admin-update-reservation-item {
  .admin-reservation-item-content {
    position: relative;
    width: 100%;
    max-width: 60rem;
  }

  .form-el-value {
    margin-left: auto;
    max-width: 14rem;
  }
}
