.page-admin-update-reservation-item {
  .admin-reservation-item-content {
    position: relative;
    width: 100%;
    max-width: 60rem;
  }

  .form-el-value {
    margin-left: auto;
    max-width: 14rem;
  }

  .summary-list__item.mobile-field {
    @include until(420px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      justify-content: flex-start;
    }
  }
}
