.contact-actions-container {
  position: fixed;
  padding: 1.2rem;
  border-radius: 0.8rem;
  border: 1px solid $text_grey;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 100;
  background-color: $background_0;
  box-shadow: $box-shadow_medium;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 0.4rem;
  opacity: 0;
  animation: reveal-container 200ms linear forwards;

  @include from ($small-phone) {
    right: 3.2rem;
  }

  @include from (856px) {
    right: unset;
    left: #{$navigation-width-desktop + 3.2rem + 58rem};
    transform: translateX(-100%);
  }

  @include from (1160px) {
    transform: translateX(3rem);
  }

  .select-count {
    display: inline-flex;
    align-items: flex-end;
    column-gap: 0.2rem;
    font-weight: bold;
    font-size: $size_7;
    user-select: none;

    .num {
      font-size: 1.1em;
      color: $magenta;
    }
  }

  .btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
  }

  @keyframes reveal-container {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}