.page-booking {
  position: relative;

  .page-title {
    color: $text_0;

    i {
      font-size: 1.5em;
      margin-right: 0.8rem;
      transform: translateY(0.6rem);
    }
  }

  .page-section-title {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    color: $text_0;

    i {
      font-size: 1.25em;
      transform: translateY(1px);
      margin-right: 0.6rem;
    }

    &:has(+ .section-title-helper) {
      margin-bottom: 0.6rem;
    }
  }

  .section-title-helper {
    position: relative;
    width: 100%;
    color: $text_dark_grey;
    font-size: $size_6;
    font-weight: 500;
    padding-left: 0.6rem;
    margin-bottom: 3rem;
  }

  .booking-stepper {
    width: calc(100% - 2rem);
  }

  .page-booking__content {
    position: relative;
    margin-top: 10rem;
  }
}
