.app-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
  background-color: $background_0;
  border-bottom: 1px solid $text_grey;

  .left-group,
  .right-group {
    position: relative;
    height: 100%;
  }

  .left-group {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .right-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    flex-shrink: 0;
    width: max-content;

    .nav-item {
      button {
        height: max-content;
        padding: 0.8rem 1.4rem;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
