.page-admin-reservation-history {
  position: relative;

  .admin-reservation-history-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;

    @include from ($small-phone) {
      width: max-content;
    }

    @include from ($large-phone) {
      min-width: 50rem;
    }
  }

  .history-filter-line {
    position: relative;
    display: flex;
    align-items: center;
    font-size: $size_7;
    gap: 0.6rem;

    .cta-containers {
      display: inline-flex;
      align-items: center;
      gap: 0.2rem;
      font-size: 1.125em;
    }

    .status-filter-item {
      cursor: pointer;
      filter: grayscale(60%);
      opacity: 0.625;
      transition: opacity 350ms;

      &::before {
        content: '-';
        display: inline-block;
        margin-right: 0.4rem;
      }

      &.is-active {
        filter: none;
        opacity: 1;

        &::before {
          content: '+'
        }
      }
    }
  }

  .status-pill {
    display: inline-block;
    margin-left: 0.4rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    line-height: 1.2;
    font-weight: bold;
  }

  .history-table {
    position: relative;

    .th-counsel-time,
    .td-counsel-time {
      position: sticky;
      left: 0;
      font-weight: bold;
    }

    .td-name {
      padding-right: 2rem;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .th-status,
    .td-status {
      width: 8rem;
      text-align: center;
    }

    .th-contact,
    .td-contact {
      text-align: center;
      font-weight: bold;
      width: 10rem;
    }

    .th-counsel-type,
    .td-counsel-type {
      text-align: center;
      width: 14rem;
    }

    .th-counsel-method,
    .td-counsel-method {
      width: 10rem;
      text-align: center;
    }

    .helper.info {
      font-size: $size_7;
      margin: 0 auto;
      width: 100%;
      padding: 1.2rem 0;
    }
  }
}

.modal__content.reservation-history-details {
  color: $magenta;
  font-weight: bold;
}