.admin-reservation-table {
  position: relative;
  width: max-content;
  max-width: 100%;
  
  @include from ($tablet) {
    max-width: 78rem;
  }

  &__search-and-filter {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.6rem;
  }

  &__table {
    position: relative;
    width: max-content;
    max-width: 100%;
  
    .td-counsel-time {
      font-weight: 800;
      min-width: 14.6rem;
    }

    .th-counsel-time,
    .td-counsel-time {
      position: sticky;
      left: 0;
    }
  
    .td-name {
      font-weight: 800;
      min-width: 14rem;
      max-width: 24rem;
      @include truncate-text-overflow;
      cursor: pointer;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .th-counsel-type,
    .td-counsel-type {
      width: 14rem;
      text-align: center;
    }
  
    .th-counsel-method,
    .td-counsel-method {
      text-align: center;
      width: 7.6rem;
    }
  
    .td-action {
      width: 6rem;
      text-align: right;
    }
  }
  
  &__search-input {
    input {
      height: 3.6rem;
      width: 16rem;
      font-size: $size_6;
    }
  }
}
