.admin-reservation-table {
  position: relative;
  width: 100%;

  &__toggle-btn {
    width: 100%;
    
    &.is-open {
      margin-bottom: 2rem;
    }
  }

  &__content {
    position: relative;
    width: max-content;
    max-width: 100%;

    &.is-hidden {
      overflow: hidden;
      max-height: 0;
      pointer-events: none;
    }
  }

  &__cta-container,
  &__search-and-filter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__search-and-filter {
    margin-bottom: 1.6rem;
    column-gap: 1rem;
  }

  .sort-select-el {
    width: 10rem;
  }

  &__cta-container {
    margin: 1.2rem 0 0 0;
  }

  &__table {
    position: relative;
    width: max-content;
    max-width: 100%;
  
    .td-counsel-time {
      font-weight: 800;
      min-width: 14.6rem;
    }

    .th-checkbox,
    .td-checkbox {
      padding-right: 0.6rem !important;
    }

    .th-counsel-time,
    .td-counsel-time {
      position: sticky;
      left: 0;
      background-color: $background_1;
      z-index: 1;
    }
  
    .td-name {
      font-weight: 800;
      min-width: 14rem;
      max-width: 24rem;
      @include truncate-text-overflow;
      cursor: pointer;
  
      &:hover {
        text-decoration: underline;
      }
    }

    .th-mobile,
    .td-mobile {
      text-align: center;
      width: 12rem;
      z-index: 0;
    }

    .td-mobile {
      color: $text_dark_grey;

      .copy-contact {
        align-items: center;
        font-weight: bold;
        z-index: 0;
      }
    }
  
    .th-counsel-type,
    .td-counsel-type {
      width: 14rem;
      text-align: center;
    }
  
    .th-counsel-method,
    .td-counsel-method {
      text-align: center;
      width: 7.6rem;
    }

    .th-created-at,
    .td-created-at {
      padding-right: 2rem;
    }
  
    .td-action {
      width: 6rem;
      text-align: right;
    }
  }
  
  &__search-input {
    i.pre-icon {
      font-size: 1.6rem !important;
    }

    input {
      width: 16rem;
      font-size: $size_7;
      height: 3rem;
      padding-left: 2.8rem !important;
    }
  }

  .table-checkbox {
    transform: translateY(3px);
  }
}
