.option-card {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: max-content;
  border-radius: 1.6rem;
  border: 1px solid $inactive-grey;
  padding: 2.2rem;
  background-color: $pink-light-bg;
  color: $text_0;
  line-height: 1.325;
  cursor: pointer;

  --o-feature-color: #{$magenta};

  &:hover {
    box-shadow: $box-shadow_light;
    transition: box-shadow 250ms linear;
  }

  &.is-selected,
  &:hover {
    border-color: var(--o-feature-color);
  }

  &__icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 1.2rem;
    background-color: var(--o-feature-color);

    i {
      font-size: 2.2rem;
      font-weight: bold;
      line-height: 1;
      color: $text_1;
      opacity: 0.9;

      &.icon-chat-bubbles {
        font-size: 1.8rem;
      }
    }
  }

  &__details {
    display: block;
    flex-grow: 1;
    margin-right: 2rem;
  }

  &__desc {
    position: relative;
    color: $text_dark_grey;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    margin-top: 0.6rem;
  }

  &__price {
    font-size: $size_3;
    font-weight: bold;
    flex-shrink: 0;
    color: var(--o-feature-color);

    .price-val {
      display: inline-block;
      margin-right: 0.4rem;
    }

    .price-per-hr {
      display: inline-block;
      font-size: $size_6;
      font-weight: normal;
      color: $text_dark_grey;
      letter-spacing: 1px;
    }
  }

  &__input {
    position: relative;
    display: inline-flex;
    height: max-content;

    .radio__label::after {
      background-color: var(--o-feature-color);
    }

    .radio__label::before,
    .radio input:checked + .radio__label::before {
      border-color: var(--o-feature-color);
    }
  }

  &.is-option-family-counsel {
    --o-feature-color: #{$success};
    background-color: $success-bg;

    .option-card__icon {
      background-color: $success;
    }
  }

  &.is-option-overseas-counsel {
    --o-feature-color: #{$primary-purple};
    background-color: $primary-purple-bg-2;

    .option-card__icon {
      background-color: $primary-purple;
    }
  }
}