.admin-navigation {
  display: flex;
  align-items: stretch;

  @include until ($large-phone) {
    pointer-events: none;

    &.is-open {
      pointer-events: initial;
    }
  }

  .nav-logo {
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
  
    @include from ($large-phone) {
      display: none;
    }
  }
}

@mixin isOpen {
  .admin-navigation.is-open & {
    @content;
  }
}

.admin-navigation__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: default;
  background-color: rgba(96, 92, 96, 0.185);
  pointer-events: inherit;

  @include until ($large-phone) {
    opacity: 0;
    transition: opacity 150ms ease-out;

    @include isOpen {
      opacity: 1;
    }
  }
}

.admin-navigation__list {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $background_0;
  max-width: $navigation-max-width;
  border: 1px solid $inactive-grey;
  padding: 1.2rem;
  margin-top: -1px;

  @include until ($large-phone) {
    transform: translateX(-110%);
    transition: transform 250ms ease-out;
    padding-top: 6.2rem;
    margin-top: 0;

    @include isOpen {
      transform: translateX(0);
    }
  }
}

button.is-unstyled.admin-navigation__close-btn {
  position: absolute;
  background-color: $background_0;
  font-weight: bold;
  color: $text_0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  right: 1.2rem;
  top: 1.2rem;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.6rem;
  border-radius: 0.6rem;
  border: 1px solid $inactive-grey;
  font-size: $size_4;
  line-height: 1;
  transition: color 150ms linear, border-color 150ms linear;

  &:hover,
  &:focus {
    color: $primary-purple;
    border-color: $primary-purple-bg-1;
    outline: none;
  }

  &:active {
    border-color: $primary-purple-1;
    background-color: $primary-purple-bg-2;
  }

  @include from ($large-phone) {
    display: none;
  }
}

.admin-navigation__nav-item {
  position: relative;
  padding: 0.8rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  border: 1px solid $primary-purple-bg-1;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
  transition:
    border-color 150ms linear,
    background-color 150ms linear;

  &:hover,
  &:focus {
    border-color: $primary-purple-1;
    color: $primary-purple-1;
    background-color: $primary-purple-bg-2;
    outline: none;
  }

  &.is-active {
    border-color: $primary-purple;
    background-color: $primary-purple;
    color: $background_0;
  }

  &:active .nav-item-name {
    text-decoration: underline;
  }

  .nav-item-name {
    font-size: $size_6;
  }

  .nav-item-icon {
    font-size: $size_3;
    transform: translateY(1px);
  }
}