.ilwol-calendar {
  position: relative;
  margin: 0 auto;
  padding: 1.2rem;
  box-shadow: $box-shadow_medium;
}

.react-calendar {
  width: 100%;
  max-width: $calendar-max-width;
  background: var(--calender-bg-color);
  border: 1px solid var(--calendar-border-color);
  border-radius: 0.8rem;
  line-height: 1.125;

  button {
    color: var(--calendar-btn-text-color);
    background-color: var(--calendar-btn-bg-color);
    border-radius: 0.8rem;
    box-shadow: none;
    min-height: unset;
    min-width: unset;
    border: none;
    outline: none;
    letter-spacing: 0.5px;

    font: {
      size: $size_7;
      weight: normal;
    }

    :active {
      box-shadow: none;
    }

    &:disabled {
      color: var(--calendar-btn-text-color_disabled);
      background-color: var(--calendar-btn-bg-color);
      pointer-events: none;
    }
  }
}

.react-calendar--doubleView {
  width: 64rem;
  max-width: 100%;

  @include from($small-phone) {
    width: 80rem;
  }

  .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;

    > * {
      width: 50%;
      margin: 0.5em;
    }
  }
}

.react-calendar__navigation {
  $nav-height: 3.6rem;

  display: flex;
  height: $nav-height;
  margin-bottom: 1rem;

  button {
    min-width: $nav-height;
    background-color: var(--calendar-btn-bg-color);
    border: none;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    color: $primary-purple;
    font-weight: bold;

    &:enabled:hover,
    &:enabled:focus {
      background-color: $calendar-focus-bg;
      color: $primary-purple;
      box-shadow: none;
    }

    &.react-calendar__navigation__arrow {
      font-size: 1.25em;
      line-height: 1;
      padding-bottom: 0.6rem;
    }
  }
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.085);
  margin-bottom: 0.6rem;
  padding: 0.4rem 0;

  .react-calendar__month-view__weekdays__weekday {
    padding: 0.6rem;
  
    abbr {
      font-family: inherit;
      font-size: 1.15rem;
      font-weight: bold;
      user-select: none;
      color: var(--calendar-btn-text-color);
      text-decoration: none;

      &[title="토요일"] {
        color: $skyblue;
        font-size: 1.25rem;
        border-bottom: 1px solid currentColor;
      }

      &[title="일요일"] {
        color: $warning;
        font-size: 1.25rem;
        border-bottom: 1px solid currentColor;
      }
    }
  }

}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days {
  // month view container
  row-gap: 0.4rem;
}

button.react-calendar__month-view__days__day:nth-child(7n + 1) {
  color: $warning;
  font-weight: bold;
}

button.react-calendar__month-view__days__day:nth-child(7n) {
  color: $skyblue;
  font-weight: bold;
}


button.react-calendar__month-view__days__day--neighboringMonth {
  color: $text_dark_grey;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  transition: background-color 110ms linear;
  box-shadow: none;

  &:enabled:hover {
    background-color: $calendar-focus-bg;
    color: $primary-purple;
    box-shadow: none;
  }

  &:enabled:focus,
  &:enabled:active {
    color: $primary-purple;
    background-color: $calendar-focus-bg;
    box-shadow: inset 0 0 1px 0 $primary-purple;
  }
}

button.react-calendar__tile--hasActive,
button.react-calendar__tile.is-multiple-selected {
  background-color: rgba(0, 0, 0, 0);
  color: $text_1;

  abbr {
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.975);
    background-color: $primary-purple;
    z-index: 0;
  }

  &:hover,
  &:focus {
    color: $text_1;
    background-color: rgba(0, 0, 0, 0);

    &::after {
      background-color: $primary-purple;
    }
  }
}

button.react-calendar__tile--hasActive.react-calendar__decade-view__years__year {
  background-color: $primary-purple;
  color: $text_1;

  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $primary-purple;
    color: $text_1;
  }
}

button:enabled.react-calendar__month-view__days__day.is-fully-booked:not(.react-calendar__month-view__days__day--neighboringMonth) {
  pointer-events: none;
  text-decoration: line-through;
  color: $validation;
  font-weight: 800;
}

button:enabled.react-calendar__month-view__days__day.has-booking:not(.react-calendar__month-view__days__day--neighboringMonth):not(.react-calendar__tile--now) {
  position: relative;
  font-weight: bold;
  color: $validation;

  &:hover {
    color: $text_0;
  }

  &:focus,
  &:active {
    color: $text_0;
    box-shadow: inset 0 0 0 1px $validation; 
    border: none;
    background-color: $validation-bg-strong;
  }

  abbr {
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.96);
    background-color: $validation-bg-strong;
    z-index: 0;
  }
}

button.react-calendar__tile--active {
  background-color: $primary-purple;
  color: $text_1;
  font-weight: bold;

  &:enabled:focus,
  &:enabled:active {
    background-color: $primary-purple;
    color: $text_1;
    font-weight: bold;
    box-shadow: none;
  }

  &:enabled:hover {
    background-color: $primary-purple;
    color: $text_1;
  }

  abbr {
    color: $text_1;
  }
}

button.react-calendar__tile.react-calendar__tile--now {
  color: $success;
  font-weight: bold;
  background-color: $success-bg;
  box-shadow: inset 0 0 1px 0 $success;

  &[disabled],
  &:hover,
  &:focus,
  &:enabled:active {
    color: $success;
    background-color: $success-bg;
    box-shadow: inset 0 0 1px 0 $success;
  }

  &.react-calendar__tile--active,
  &.is-multiple-selected {
    color: $success;
    background-color: rgba(0, 0, 0, 0);

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 0.8rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0.975);
      background-color: $primary-purple;
      z-index: 0;
    }

    abbr {
      color: inherit;
    }
  }

  abbr {
    z-index: 1;
  }
}